################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.opendb
/.vs
/.vscode
/examples/ESP8266_page/.vs
/examples/ESP8266_page/.vscode
