body {
    font-family: 'Open Sans';
    font-size: 20px;
}

.title{
    text-align: center;
    font-size: 40px;
}

.mainContainer {
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#communication {
    vertical-align: middle;
    text-align: center;
    padding-top: 150px;
}

.commChoices {
    margin: 10px;
    cursor: pointer;
}

.commChoices:hover {
    color: orange;
}

#selector {
    vertical-align: middle;
    text-align: center;
    padding-top: 300px;
}

#rightPart {
    float: right;
}

#leftPart {
    padding-top: 425px;
    float: left;
}

.pinBlock {
    width: 125px;
}

.pinText {
    width: 50px;
    display: inline-block;
}

.pin {
    cursor: pointer;
    text-align: center;
    margin: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #AAAAAA;
    line-height: 35px;
    border: 4px solid white;
    display: inline-block;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pin:hover{
    background-color: #CCCCCC;
}

.selectorElement {
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    cursor: pointer;
    background-color: #DDDDDD;
}

.selectorElement:hover{
    background-color: orange;
}

#targetSelector {
    font-size: 24px;
    display: inline-block;
    margin-left: 10px;
    cursor: pointer;
}

#targetSelector:hover {
    color: orange;
}

#cancelTarget {
    color: gray;
    cursor: pointer;
}

#cancelTarget:hover {
    color: orange;
}

input[type="range"] {
    width: 50px;
    vertical-align: middle;
}

input[type="text"] {
    width: 200px;
    display: inline-block;
    border: 2px solid #CCCCCC;
    font-size: 20px;
}